<footer id="layout-footer">

            <div style="margin:auto">
                <span>&copy Referral System</span>
                <span class="initiated">(Developer
                    <a href="https://jainmanjari.github.io/" target="_blank"><i class="fab fa-pagelines"></i>  TheHindFlora</a>)
                </span>
            </div>
        
</footer>