<footer id="layout-footer">

            <div style="margin:auto">
                <span>&copy Referral</span>
                <span class="initiated">(Founder & Developer
                    <a href="http://thehindflora.com/" target="_blank"><i class="fab fa-pagelines"></i>  TheHindFlora</a>)
                </span>
            </div>
        
</footer>