<header>
    <div class="logo">
        <a href="/"><img src="/images/logo.jpeg"></a>
    </div>
    

    <div class="links">
        <% if(!locals.user) { %>
            <a href="/employees/sign-up">Sign Up For Employee</a>
            <a href="/referees/sign-up">Sign Up For Referee</a>
        <% } else { %>
            <% if(locals.user.isEmployee) { %>
                <a href="/employees/sign-out">Sign Out</a>
            <% } else {%>
                <a href="/referees/sign-out">Sign Out</a>
            <% } %>
        <%} %>
    </div>

</header>