<header>
    <div class="logo">
        <a href="/">Referral</a>
    </div>

    <div class="links">
        <a href="/employees/sign-up">Sign Up For Employee</a>
        <a href="/referees/sign-up">Sign Up For Job Seeker</a>
    </div>

</header>