<p class="welcome-heading2">Are you an Employee or Referee?</p>

<div class="emp-job">
    <button id="emp">Login as Employee</button>
    <button id="job">Login as Referee</button>
</div>

<div class="form-up">
</div>

