<h1 class="welcome-heading">Welcome to the Referral</h1>

<p class="welcome-heading2">Are you an Employee or Job Seeker? </p>

<div class="emp-job">
    <button id="emp">Employee</button>
    <button id="job">Job Seeker</button>
</div>