<p class="welcome-heading2">Sign Up for Job Seeker</p>

<div class="form-up">
    <form action="sign-up/job-seeker/" method="post">
        <input name="name" type="text" required placeholder="Harry Potter">
        <input name="email" type="email" required placeholder="harrypotter@hogwarts.uk">
        <input name="pwd" type="password" required placeholder="Password">
        <input name="confirmPwd" type="password" required placeholder="Confirm Password">
        <input name="referralCode" type="text" required placeholder="Enter Referral Code">
        <button type="submit">Submit</button>
    </form>
</div>
