<p class="welcome-heading2">Sign Up for Job Seeker</p>

<div class="form-up">
    <form action="sign-up/job-seeker/" method="post">
        <input type="email" required placeholder="harrypotter@hogwarts.uk">
        <input type="password" required placeholder="Password">
        <input type="password" required placeholder="Confirm Password">
        <input type="text" required placeholder="Enter Referral Code">
        <button type="submit">Submit</button>
    </form>
</div>
