<p class="welcome-heading2">Sign Up for Job Seeker</p>

<div class="form-up">
    <form action="/referees/sign-up" method="post">
        <div>
            <input name="firstName" type="text" required placeholder="Harry">
            <span>*</span>
        </div>
        <div>
            <input name="lastName" type="text" required placeholder="Potter">
            <span>*</span>
        </div>
        <div>
            <input name="email" type="email" required placeholder="harrypotter@hogwarts.uk">
            <span>*</span>
        </div>
        <div class="pwd">
            <input id="pwd-input" name="password" type="password" required placeholder="Password">
            <span>*</span>
            <i id="pwd-input-icon" class="fas fa-eye"></i>
        </div>
        <div class="pwd">
            <input id="confirm-pwd-input" name="confirmPwd" type="password" required placeholder="Confirm Password">
            <span>*</span>
            <i id="confirm-pwd-input-icon" class="fas fa-eye"></i>
        </div>
        <div>
            <input name="referralCode" type="text" required placeholder="Enter Referral Code">
            <span>*</span>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
