@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
header
{
    background-color: #F36D24;
    box-shadow: 0px 0px 10px 0px #e2b399;
    color: snow;
    height: 80px;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 105px;
}

header a{
    color:inherit;
    text-decoration: none;
    transition: color 0.8s ease-in;
}

header a:hover
{
    color:maroon;
    border-color: lightgrey;
    text-decoration: none;
}

header .logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-family: 'Yellowtail', cursive;
    /* border: 2.2px dotted white;
    padding: 5px;
    border-radius: 50%;
    width: 105px; */
}

header .logo a img
{
    height: 60px;
}

header .links
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 17px;
    font-family: monospace;
}

header .links a
{
    margin: 2px;
    font-weight: bolder;
}

header .links a:hover
{
    color: inherit;
    border-bottom: 1.5px solid white;
}
