.welcome-heading
{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: 'Source Serif Pro', serif;
}

.welcome-heading2
{
    text-align: center;
    font-size: 19px;
    margin-bottom: 40px;
}

.emp-job
{
    flex-direction: column;
    display: flex;
    width: 200px;
    align-items: center;
    margin: auto;
    font-size: 18px;
}

.emp-job button
{
    margin: 10px;
    background: transparent;
    width: 250px;
    height: 45px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.emp-job #emp
{
    background: #C32148;
}

.emp-job #emp:hover
{
    background: #ae1338;
}

.emp-job #job
{
    background: #C154C1;
}

.emp-job #job:hover
{
    background: #b015b0;
}

.form-up
{
    width: 350px;
    margin: 50px auto 0px;
}

.form-up form
{
    display: flex;
    flex-direction: column;
}

.form-up form input
{
    margin-bottom: 10px;
    padding: 5px;
    background: darkslategray;
    border: none;
    border-bottom: 1px solid;
    color: thistle;
}

.form-up form button
{
    background: turquoise;
    height: 30px;
    width: 90px;
    margin: 15px auto 0px;
    color: black;
}

.form-up form input::placeholder
{
    color: thistle;
}

.form-up form input:focus,.form-up form button:focus
{
    outline: none;
}