.welcome-heading
{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: 'Source Serif Pro', serif;
}

.welcome-heading2
{
    text-align: center;
    font-size: 21px;
    margin-bottom: 40px;
    font-family: 'Cinzel', serif;
}

.emp-job
{
    flex-direction: column;
    display: flex;
    width: 200px;
    align-items: center;
    margin: auto;
    font-size: 18px;
}

.emp-job button
{
    margin: 10px;
    background: transparent;
    width: 250px;
    height: 45px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: antiquewhite;
    font-size: 18px;
}

.emp-job #emp
{
    background: #C32148;
}

.emp-job #emp:hover
{
    background: #ae1338;
}

.emp-job #job
{
    background: #C154C1;
}

.emp-job #job:hover
{
    background: #b015b0;
}

.form-up
{
    width: 350px;
    margin: 50px auto 0px;
}

.form-up form
{
    display: flex;
    flex-direction: column;
}

.form-up form > div
{
    display: flex;
    align-items: center;
}

.form-up form > div span
{
    color: red;
    font-size: 20px;
    margin-left: 5px;
}

.form-up form .pwd
{
    position: relative;
}

.form-up form .pwd i 
{
    cursor: pointer;
    position: absolute;
    right: 45px;
    top: 9px;
    color: darkslategray;
}

.form-up form input
{
    margin-bottom: 10px;
    padding: 5px;
    background: #fff3e0;
    border: none;
    border-bottom: 1px solid;
    color: maroon;
    width: 90%;
}

input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color:maroon; 
}

.form-up form button
{
    background: #ffb7af;
    height: 30px;
    width: 90px;
    margin: 15px auto 0px;
    color: black;
    border-color: orange;
    cursor: pointer;
}

.form-up form button:hover
{
    background:#e57373;
}

.form-up form input::placeholder
{
    color: maroon;
}

.form-up form input:focus,.form-up form button:focus
{
    outline: none;
}