.referral-code-container
{
    width: 400px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    border: 2px dashed #805533;
    padding-top: 10px;
    border-radius: 15px;
}

.referral-code-container .title
{
    font-family: 'Taviraj', serif;
    font-size: 20px;
    padding: 2px 10px;
    box-sizing: border-box;
    text-decoration: underline;
}

.referral-code-container .referral-code
{
    min-width: 165px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    letter-spacing: 5px;
    margin-top: 20px;
    padding: 0px 10px;
    background: #E6BE8A;
    border: 5px dashed #CA3435;
    margin: 35px 0px;
}

.horizontal
{
	list-style: none;
	padding-left: 0px;
	margin: 0px;
}

.horizontal li
{
	display: inline-block;
	margin:0px 8px 8px 0px;
}



.horizontal li a
{
	cursor: pointer;
	color:#fd7777;
	text-decoration: none;
}



.center
{
	text-align: center;
}

.social
{
    display: flex;
    flex-direction: column;
}

.social > span
{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

.social .social-icons{
	width: 100%;
	margin: auto;
}

.social .social-icons li{
	margin: 10px;
}

.social .social-icons li a i
{
	border-radius: 50%;
	padding: 12px;
	font-size: 1.2rem;
	transition: all 0.8s ease-in-out;
	
}

.social .social-icons li a i:hover
{

	box-shadow: 0px 0px 6px 4px rgba(230,196,196,0.2);
}


.change-code
{
    display: flex;
    justify-content: center;
}

.change-code a
{
    color: brown;
    text-decoration: none;
    background: whitesmoke;
    padding: 5px
}

.change-code a:hover
{
    color:black;
}

.refers-list
{
    width: 75%;
    margin: 70px auto;
}


.refers-list .title
{
    background: #D27D46;
    width: 331px;
    display: flex;
    justify-content: center;
    height: 30px;
    align-items: center;
    margin-bottom: 25px;
    font-size: 19px;
    font-family: 'Syncopate', sans-serif;
    font-weight: bold;
}

.refers-list li
{
    list-style: none;
    list-style: none;
    display: flex;
    margin: 15px;
    font-size: 17px;
    height: 50px;
}

.refers-list li::before
{
    content:'';
	display: inline-block;
	height: 25px;
	width:40px;
	background-repeat:no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url("/images/rewards2.png");
}


.refers-list li .info
{
    width: 65%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.refers-list li .info a
{
    color: grey;
    text-decoration: none;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.refers-list li .info a:hover,.refers-list li .info a:active
{
    color:#b79d9d;
}

.refers-list li .info >div
{
    margin: 5px;
}

.refers-list li .rewards
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #81B562;
}

.refers-list .total-reward
{
    text-align: right;
}

.refers-list .total-reward .reward-title
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;
    font-family: monospace;
}

.refers-list .total-reward .reward-money
{
    font-family: 'VT323';
    font-size: 40px;
}

.delete-emp-acct,.delete-job-acct
{
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.delete-emp-acct a,.delete-job-acct a
{
    text-decoration: none;
    color: darkred;
    font-size: 19px;
    font-weight: bold;
    font-family: 'Marcellus SC', serif;
}








.refered-by
{
    width: 75%;
    margin: 70px auto;
    font-family: 'Antic', sans-serif;
    font-size: 18px;
}

.refered-by .congrats-word
{
    font-family: 'Lobster', cursive;
    display: flex;
    align-items: center;
    font-size: 22px;
}

.refered-by a
{
    color: inherit;
    text-decoration: none;
}

.refered-by a:hover,.refered-by a:active
{
    color: #a19999;
    text-decoration: none;
}
